<!-- Favicon -->
<link rel="shortcut icon" href="http://apps-production.s3.amazonaws.com/static/images/favicon.ico" type="image/x-icon">

<!-- Social sharing meta -->
<meta property="og:title" content="<%= grunt.data.json.project.title %>">
<meta property="og:site_name" content="The Seattle Times">
<meta property="og:image" content="http://projects.seattletimes.com/2015/seattle-boston-trivia-quiz/assets/seattlevsboston_fb.jpg">
<meta property="og:type" content="article">
<meta property="og:url" content="<%= grunt.data.json.project.url %>">
<meta property="og:description" content="<%= grunt.data.json.project.description %>">

<!-- BEGIN TWITTER SUMMARY CARD -->
<meta name="twitter:card" content="summary">
<meta name="twitter:url" content="<%= grunt.data.json.project.url %>">
<meta name="twitter:site" content="@seattletimes">
<meta name="twitter:title" content="<%= grunt.data.json.project.title %>">
<meta name="twitter:description" content="<%= grunt.data.json.project.description %>">
<meta name="twitter:image" content="http://seattletimes.com/art/ui/fb_icon_large.jpg">

<!-- Chartbeat top -->
<script type="text/javascript">var _sf_startpt=(new Date()).getTime()</script>

<!-- start ad set-up -->
<script>
//detect phones
var isMobile = window.matchMedia && window.matchMedia("(max-width: 480px)").matches;
//modify for specific page info
OAS_sitepage = 'www.seattletimes.com/sports/football';
OAS_query = '?<%= grunt.data.json.project.tags && grunt.data.json.project.tags.join("&") %>';
//uncomment the ad positions you're going to use ("Top" and "TopRight" usually)
OAS_listpos = isMobile ? '' : 'TopRight,Right,Bottom';
</script>
<script src="http://seattletimes.com/js/standardFunctionality/AdTags.js"></script>
<!-- end ad set-up -->
