<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link href='http://fonts.googleapis.com/css?family=Paytone+One|Oswald:700,400,300' rel='stylesheet' type='text/css'>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <%= t.include("partials/_adHead.html") %>
  </head>
  <body>

    <div class="ad"><%= t.include("partials/_adTop.html") %></div>

    <nav class="top-bar">
      <a class="logo" href="http://seattletimes.com">
        <img src="./assets/st-logo.png">
      </a>
    </nav>

    <img class="illustration" src="http://placekitten.com/1100/450">

    <header>
      <h2 class="lorem quiz-label">LOREM IPSUM</h2>
      <h1 class="title">The I-90 Series<span class="green big">Boston vs. Seattle</span></h1>
      <p class="lorem chatter">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eu dui enim. Integer porttitor varius dolor quis posuere. Sed ut ligula ac nisi lobortis pulvinar.</p>
    </header>

    <div class="quiz-container">
      <div class="buttons">
        <a href="." class="hidden retake"><i class="fa fa-undo"></i> <span>RETAKE QUIZ</span></a>
        <a class="share-button"></a>
      </div>

      <div class="quiz-box"> 
        <div class="index"></div> 
        <div class="question-box"></div>
        <button class="next" disabled>NEXT</button>
      </div>

      <div class="divider"></div>

      <div class="credits">
        Quiz by <span class="credit-name">Seattle Times staff</span>,
        web development by <span class="credit-name">Audrey Carlsen</span>,
        illustration by <span class="credit-name">Gabi Campanario</span>
      </div>
    </div>
    
    <div class="tower-ad">
      <%= t.include("partials/_adRight.html") %>
    </div>

    <footer>
      <div class="ad"><%= t.include("partials/_adBottom.html") %></div>
    </footer>

    <script>
      <% 
        var quizData = {};
        json.SeattleVsBostonQuiz2015_Questions.forEach(function(q) {
          var id = q.questionid;
          var question = q.question;
          var explanation = q.explanation;
          quizData[id] = { "question": question, "explanation": explanation };
        });
        json.SeattleVsBostonQuiz2015_Answers.forEach(function(a, index) {
          var id = a.questionid;
          if (!quizData[id].answers) { quizData[id].answers = [] }
          var answer = { 
            "answer": a.answer,
            "correct": a.correct,
            "id": index
          };
          quizData[id].answers.push(answer);
        });
      %>
      var quizData = window.data = <%= JSON.stringify(quizData) %>
      var resultsData = <%= JSON.stringify(json.SeattleVsBostonQuiz2015_Results) %>
    </script>
    <script src="app.js"></script>

    <% /*= t.include("partials/_adFoot.html"); */ %>
    <%= t.include("partials/_workHere.html") %>

  </body>
</html>
