<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link href='http://fonts.googleapis.com/css?family=Paytone+One|Oswald:700,400,300|PT+Sans:400,700' rel='stylesheet' type='text/css'>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <%= t.include("partials/_adHead.html") %>
  </head>
  <body>

    <div class="ad"><%= t.include("partials/_adTop.html") %></div>

    <nav class="top-bar">
      <a class="logo" href="http://seattletimes.com">
        <img src="./assets/st-logo.png">
      </a>
    </nav>

    <img class="illustration" src="http://placekitten.com/1100/450">

    <header>
      <h2 class="quiz-label">Trivia quiz</h2>
      <h1 class="title">Test your knowledge of <span class="green big">Seattle & Boston</span></h1>
      <p class="chatter">There’s no doubting the qualities that make Seattle and Boston unique, but there is also plenty that connects both cities. See how well you know Seattle and Boston in our quiz. (Be forewarned: it’s a tough one!)</p>
    </header>

    <div class="quiz-container">
      <div class="buttons">
        <a href="." class="hidden retake"><i class="fa fa-undo"></i> <span>RETAKE QUIZ</span></a>
        <a class="share-button"></a>
      </div>

      <div class="quiz-box"> 
        <div class="index"></div> 
        <div class="question-box"></div>
        <button class="next" disabled>NEXT</button>
      </div>

      <div class="divider"></div>

      <div class="credits">
        Quiz by <span class="credit-name">Ed Guzman</span>,
        web development by <span class="credit-name">Audrey Carlsen</span>,
        illustration by <span class="credit-name">Gabriel Campanario</span>
      </div>
    </div>
    
    <div class="tower-ad">
      <%= t.include("partials/_adRight.html") %>
    </div>

    <footer>
      <div class="ad"><%= t.include("partials/_adBottom.html") %></div>
    </footer>

    <script>
      <% 
        var quizData = {};
        json.SeattleVsBostonQuiz2015_Questions.forEach(function(q) {
          var id = q.questionid;
          var question = q.question;
          quizData[id] = { "question": question };
        });
        json.SeattleVsBostonQuiz2015_Answers.forEach(function(a, index) {
          var id = a.questionid;
          if (!quizData[id].answers) { quizData[id].answers = [] }
          var answer = { 
            "answer": a.answer,
            "correct": a.correct,
            "explanation": a.explanation,
            "id": index
          };
          quizData[id].answers.push(answer);
        });
      %>
      var quizData = window.data = <%= JSON.stringify(quizData) %>
      var resultsData = <%= JSON.stringify(json.SeattleVsBostonQuiz2015_Results) %>
    </script>
    <script src="app.js"></script>

    <% /*= t.include("partials/_adFoot.html"); */ %>
    <%= t.include("partials/_workHere.html") %>

  </body>
</html>
